.initial {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.img {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.comp {
  position: relative;
}
